@use 'base/variables';
@use 'base/reset';
@use 'base/base';
@use 'componentes/botones';
@use 'componentes/navbar';
@use 'componentes/hero';
@use 'componentes/about';
@use 'componentes/projects';
@use 'componentes/servicios';
@use 'componentes/contacto';